<a href="https://colab.research.google.com/github/Iam-whizzy/Gen-AI/blob/main/Python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DAY 5/100
# Introduction to Python programming
# Python was created in 1991
# Easy to learn because of its a simple syntax similar to the English Langugae
# Can be used for various purposes including web development, cybersecurity, data science, artificial intelligence, game development, and more.
# Let's write our first python line of code

print("Hello World")

Hello World

In [ ]:
# PYTHON SYNTAX
# 1. Python Comments
# These are like notes to your code. You code while writing notes about your code so that you or someoneelse can understand what you did.
# It is also important when someone else will be reviewing your code or incase you will be working in a team.
# Or let's say you code an app for someone and sometime later because of some reason you are not the one maintaining the code. The comments are for that someone.
# Comments are initialized using "#" like these green text we have been writing.

In [ ]:
# 2. Python Indentation
# For example in a code like the one below
# Below if a > b: you can see an indentation before print
# Indentation can cause your code to not run or in other terms throw an error

a = 10
b = 20
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [ ]:
# 3. Python Variables
# Variables are containers for storing data values.
# A variable is created the moment you first assign a value to it.
# For example in the code above a is the variable while 10 is the value of variable a (Refer to code right above)

In [ ]:
# 3.1 Variable Names
# Rules for Python variables:
# 1. A variable name must start with a letter or the underscore character
# 2. A variable name cannot start with a number
# 3 A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)
# A variable name cannot be any of the Python keywords. To checkout keywords, visit: (https://www.w3schools.com/python/python_ref_keywords.asp).

# Good Example
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Bad Example
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
# 3.2 Output Variables
# The Python print() function is often used to output variables.
# This is where your code is converted to something you can see on the screen
# For example I will enter a variable name z and use the print() function to display the the value of z on the screen.

z = 33
print(z)

33

In [ ]:
# 3.3 Multi Words Variable Names
# There are several techniques you can use to make them more readable;

# 1. Camel Case
# Each word, except the first, starts with a capital letter:
myFirstName = "Eric"

# 3. Pascal Case
# Each word starts with a capital letter:
MyFirstName = "Eric"

# 4. Snake Case
# Each word is separated by an underscore character:
my_first_name = "Eric"

In [ ]:
a = 5

print(type (a))

<class 'int'>

In [ ]:
# Day 6/100

# This is python basics continuation....
# Keep the energy. Sometimes it might be a busy and hectic day but our coding days have to be there. People used to go to war.

In [ ]:
# DATATYPES

# Today we tackle an animal known as Data Types.
# You see the way we have proteins, energy-giving foods & vitamens for food?

# ðŸ˜ƒAs in types of data. Namely:
# ðŸ‘‰str, int, float,  list, tuple, dict, set, bool etc.

# These are the datatypes we'll be using for now.

#Classified further into:
# 1. Numbers: int, float
# 2. Sequence: str, list, tuple,
# 3. Boolean: bool(true or false)
# 4. Set: set
# 5. Dictionary: dict

In [ ]:
# 1. Integers (int)
# It contains positive or negative whole numbers (without fractions or decimals). No limit to its length

# Example: a = 5 here "a" is of the data type integer.

# You can see and write the code below to confirm the data type.

a = 5
print(type(a))

<class 'int'>

In [ ]:
# 2. Float (float)
# - It is specified by a decimal point
# - e or E can be used to specify scientific notation
# You can test type float by replacing value in "a" variable in your code cell with a decimal value

# Example: b = 5.5

b = 5.5
print (type(b))

<class 'float'>

In [ ]:
# 3. String (str)
# -  A string is a collection of one or more characters put in a single quote, double quote or triple quote.

# Example:  c = "Hakuna Matata"

c = "Hakuna Matata"
print(type(c))

<class 'str'>

In [ ]:
# 4. List (list)
# - Are used to store multiple items in a single variable
# - Are created using square brackets
# - Write code below and run to print your list on screen
# -Lists are ordered, changeable and allow duplicate values
# -  The first item has Index zero - [0], the second item [1]

my_garage = ["Volvo", "BMW", "VW", "Audi"]

print(my_garage)

['Volvo', 'BMW', 'VW', 'Audi']

In [ ]:
# Important Definitions
# Ordered - it means that the items have predefined order and the order will not change
# Changeable - we can add or remove items even after list has been created
# Allow duplicates - Since lists are indexed, they can have items with the same value

# For ExampleðŸ‘‡

# Testing duplicate values to check if "Allow duplicates" is true

my_garage = ["Volvo", "BMW", "VW", "Audi", "Volvo"]

print(my_garage)

['Volvo', 'BMW', 'VW', 'Audi', 'Volvo']

In [ ]:
# List length - number of items in a list
# We use the len() function to determine number of items in a list

print(len(my_garage))

5

In [ ]:
# List items can contain other datatypes
# They can have str, int, bool data types.
# Example:

# Assignment: Print each one of them (8 marks)

my_garage = ["Volvo", "BMW", "VW", "Audi"]
my_numbers = [1, 3, 5, 7, 9]
my_bool = [True, False, False]

print(my_garage)
print(my_numbers)
print(my_bool)

# A list with different datatypes

my_characters = [11, "BMW", True, 8.9]

print(my_characters)

**DAY 7**

Lets use the text feature of our notebook now. We have been using comments and I hope you have understood how they should be used.

**Tuples**
- They are used to store multiple items in a single variable

They are :
- written in round brackets
- ordered: Means items have a defined order which does not change
- unchangeable/ immutable - We cannot change, add or remove items after it has been created
- Allow duplicates - They can have items with similar value

Tuples are indexed with first item being [0] and the second item with index [1] and so forth and so forth.

In [ ]:
# Notice the curved brackets/ rounded brackets

my_garage = ("Audi", "BMW", "vw", "Toyota")

print(my_garage)

('Audi', 'BMW', 'vw', 'Toyota')

**Tuple Length**
- Used to know how many items are in a tuple
- Use len() function
- In the case below my tuple length would be: 5

In [ ]:
my_garage = ("Audi", "BMW", "VW", "Toyota", "Mitsubishi")

print(len(my_garage))

Create a tuple with one item
- To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [ ]:
# Wrong
my_garage = ("Audi")
print(my_garage)

# Right
my_garage = ("Audi",)
print(my_garage)

**Tuples & Other Datatypes**
- They can have items of any datatype even tuples to form what we call tuples within tuples
- Example using string, integer or boolean datatypes.

In [ ]:
my_garage = ("Audi", 1, True)

print(my_garage)

**DAY 8**
We are set to cover another datatype.

ðŸš€Sets
Sets
- Used to store multiple items in a single variable.
- It is unordered, unchangeable/ immutable and unindexed
- They are written with curly brackets

In [ ]:
my_garage = {"Audi", "BMW", "VW", "Toyota"}

print(my_garage)

**Definitions:**

*   Unordered - means that the item do not  have a defined order
You cannot be sure which order the items will appear.
*   Unchangeable - We cannot change the items after the set has been created.
*   Duplicates are ignored - cannot have items with the same value.

In [ ]:
# duplicates are not printed

my_garage = {"Audi", "BMW", "VW", "Toyota", "Audi"}

print(my_garage)

Note:
1.  The values True and 1 are considered the same value in sets, and are treated as duplicates

2. The values False and 0 are considered the same value in sets, and are treated as duplicates

Example:

In [ ]:
my_garage = {"Audi", "BMW", "VW", "Toyota", True, 1, 0, False}

print(my_garage)

Length of a Set
- Use the len() function in a similar way that we have seen in the past datatypes

1. Sets Items can be of any datatype
- Also similar to how we have applied on previous code.
- The difference is only the curly brackets.

2. A set can  contain different datatypes

In [ ]:
#Sets Items can be of any datatype
my_garage = {"Audi", 1, True}

print(my_garage)


**Create a Github Account if you don't have one yet**

It's important in housing our code, portfolio platform as well as a collaborative platform among many other use cases.

![GVh2CDiX0AEK2VM.jfif]()

**DAY 9** <br>

**Dictionaries** <br>
Definition: is a data structure that stores the value in key: value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
-  Dictionaries are written with curly brackets{}, and have keys and values.

For ExampleðŸ‘‡

In [ ]:
my_garage = {"name":"Audi",
             "model": "Q3",
             "year": 2020}

print(my_garage)

In the code above,,
An example in the dictionary of Key is "model" while the Value is "Q3".

**Dictionaries are:**<br>
Ordered: means that the items have a defined order and that order will not change.

Changeable: We can change, add or remove items after the dictionary has been created.

Duplicates are not allowed:  They cannot have items with the same key.

In [ ]:
#duplicates not allowed example
my_garage = {"name":"Audi",
             "model": "Q3",
             "year": 2020,
             "year": 2022}

print(my_garage)

#You will get an error

Check for length
- Used to determine how many items a dictionary has.
- We use the len() function
- Implementation is similar to the other dtypes.
Example code:ðŸ‘‰`print(len(my_garage))`


Dictionary Items  Data Types
- The values in dictionary items can be of any data type.
- They can contain a string, int, boolean and list data types.

In [ ]:


my_garage = {"name":"Audi",
             "model": "Q3",
             "brand_new" : False,
             "year": 2020,
             "colors": ["green", "blue", "black"]}

print(my_garage)

**DAY 10**

Access, Change , Add, Remove List Items

**Access Items**
List items are indexed and you can access them by referring to its index numberðŸ‘‡
*Note: The first item in programming is usually index 0. Applies here as well.*

In [ ]:
my_garage = ["Audi", "BMW", "Toyota"]

print(my_garage[1])

**Negative indexing** <BR>
This means the count starts from the end.
e.g -1 refers to the last item, -2 refers to the second last item and such.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota"]

print(my_garage[-1])

**Range of indexes**
1. Specifying in a list, at what index to start and end in a list.
For example you would want to list the second to the 5th item in a listðŸ‘‡

In [ ]:
# list second, third, fourth and fifth item in a list

my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

print(my_garage[1:5])

2. By leaving out the start value, it starts at the default first item or index 0.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

print(my_garage[:4])

3. By leaving out the end value, the range will go on to end the list.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

print(my_garage[2:])

Check if Item Exists
Use the "in" keyword
Remember: Python is English-like as seen hereðŸ‘‡

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

if "Toyota" in my_garage:
  print("Yes, 'Toyota' is in the list")

**Change List Items**

To change/ replace the value of an item, you will need to refer to its index number.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage[1] = "Tesla"

print(my_garage)

Note: When the range is 1:3 it means it refers to index 1 and index 2.
To change the value of items within a specific range, create a list with the new values, and refer to the range of index numbers where you want to insert the new values.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage[1:3] = ["Tesla", "Honda"]

print(my_garage)

What happens when you put more items in your incoming list items than the range specified?
Try outðŸ‘¨â€ðŸ’»ðŸ‘‡

*The number of list items increases

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage[1:3] = ["Tesla", "Honda", "Nissan"]

print(my_garage)

If you insert less items than the specified range.
The new item will be inserted where specified while rest will move accordingly.

For example:

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage[1:3] = ["Tesla"]

print(my_garage)

Insert() method
- Used to insert a new list item, without replacing any of the existing value unlike the ones above
For Example: Insert "Bugatti" and the fourth item.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage.insert(3, "Bugatti")

print(my_garage)

**DAY 11**

append() method
Since we already discussed insert() on the post let's dive direct to append() method.

The difference between this two is that insert() enables you to add an item to a specified index while append() adds an item to the list as the last item.

Try outðŸ‘‡

In [ ]:
# Append() method

my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage.append("Bugatti")

print(my_garage)

extend() Method
- Used to add a list to another list
- the list items will be added at the end of my_garage list

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_cars = ["Tesla", "Honda", "Nissan"]

my_garage.extend(my_cars)

print(my_garage)

You can add elements like sets, tuples and dictionaries to lists.
Lets Look at examples;
*Adding sets is done similar to tuples except in place of curved brackets we have curly braces.
- For dictionaries it's a bit different

In [ ]:
# extending dictionaries into a list
# 1. Create an empty list
my_garage = []
# 2. Create a dictionary to add to the list

my_garage1 = {
    "name":"Audi",
    "model": "Q3",
    "year": 2020
}
my_garage.extend(my_garage1)
#You can end it here and print. You can as well have more than one dictionary in a list:
print(my_garage)
# Create another dictionary
my_garage2 = {
    "name":"Tesla",
    "model": "S",
    "year": 2022
}
my_garage.extend(my_garage2)
print(my_garage)

Lets now look at removing list items
1. remove() method
- Removes a specified item
*If we have two occurrences of the item. It only removes the first one.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage.remove("Toyota")

print(my_garage)

2. pop() method
- Remove a specified index
* If you do not specify the index, the pop() method removes the last item.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage.pop(1)

print(my_garage)


3. del() method
- removes a specified index : works the same as pop()
- can be used to delete list completely.

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

del my_garage[0]

In [ ]:
# deleting the list completely
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

del my_garage

4. clear() method
- This empties items in a list

In [ ]:
my_garage = ["Audi", "BMW", "Toyota", "Chevy", "VW", "Ford"]

my_garage.clear()

print(my_garage)

**Importance of Lists in AI Development**
<BR>
Python lists are a fundamental data structure that plays a crucial role in many aspects of artificial intelligence (AI) development. They are versatile and easy to use, making them a popular choice for handling data, managing workflows, and implementing algorithms. Hereâ€™s how Python lists are used in AI:

### **1. Storing and Managing Data**
   - **Data Collection:** In AI, lists are often used to store datasets, which may include numerical data, text, images, or any other form of input that needs to be processed. For example, a list can hold a sequence of images or a series of text documents for natural language processing tasks.
   - **Data Batching:** When training machine learning models, data is often divided into batches to improve computational efficiency. Lists can be used to create and manage these batches of data.

### **2. Implementing Algorithms**
   - **Search and Sort Algorithms:** Lists are used to implement basic algorithms like search (e.g., linear search, binary search) and sorting (e.g., quicksort, mergesort), which are foundational in AI for data preprocessing and feature engineering.
   - **Graph Algorithms:** In AI, particularly in fields like network analysis or game development, graphs are often represented using adjacency lists. Python lists are used to store the neighbors of each node, making it easy to traverse and manipulate the graph.

### **3. Neural Network Operations**
   - **Layer Management:** Lists can be used to manage layers in a neural network. Each layerâ€™s weights, biases, and activation functions can be stored in lists, allowing easy iteration and modification during forward and backward passes.
   - **Storing Weights and Biases:** During the training of neural networks, lists can hold the weights and biases of each neuron. These lists are updated during backpropagation.

### **4. Handling Sequences in Natural Language Processing (NLP)**
   - **Token Sequences:** In NLP, sentences are often tokenized into words or characters, which are then stored in lists. These sequences of tokens are fed into models like Recurrent Neural Networks (RNNs) or Transformers for processing.
   - **Language Models:** Lists are used to manage sequences of words or sentences in tasks like language modeling, text generation, and machine translation.

### **5. Reinforcement Learning**
   - **Experience Replay Buffers:** In reinforcement learning, an agentâ€™s past experiences (states, actions, rewards, and next states) are stored in a list called an experience replay buffer. This buffer is used to sample experiences for training the agent, helping to break correlation between consecutive samples and improve learning efficiency.
   - **Action and State Storage:** Lists can store the sequence of actions taken by an agent and the corresponding states observed in the environment, which are critical for training and policy evaluation.

### **6. Handling Outputs and Predictions**
   - **Storing Model Predictions:** After a model makes predictions, these predictions can be stored in lists for further analysis, comparison, or post-processing.
   - **Output Formatting:** In tasks like image classification or object detection, the modelâ€™s outputs (e.g., class labels, bounding box coordinates) are often stored in lists for easy access and manipulation.

### **7. Data Augmentation and Preprocessing**
   - **Applying Transformations:** Lists can store different data augmentation techniques (e.g., flipping, rotation, scaling) that are applied to images or other input data during preprocessing. Iterating through these lists ensures that all augmentations are applied systematically.

### **8. Handling Multiple Models or Experiments**
   - **Model Ensembling:** Lists can be used to store multiple models in an ensemble, where each modelâ€™s predictions are combined to improve overall accuracy.
   - **Experiment Tracking:** During experimentation, lists can track different models, hyperparameters, or evaluation metrics, making it easier to compare results and select the best-performing configuration.

In summary, Python lists are an essential tool in AI, providing the flexibility and simplicity needed to manage data, implement algorithms, and organize various components of AI models and workflows. Their versatility makes them a go-to structure in many AI applications.

**DAY 12**