<a href="https://colab.research.google.com/github/Iam-whizzy/Gen-AI/blob/main/Python_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DAY 5/100
# Introduction to Python programming
# Python was created in 1991
# Easy to learn because of its a simple syntax similar to the English Langugae
# Can be used for various purposes including web development, cybersecurity, data science, artificial intelligence, game development, and more.
# Let's write our first python line of code

print("Hello World")

Hello World

In [ ]:
# PYTHON SYNTAX
# 1. Python Comments
# These are like notes to your code. You code while writing notes about your code so that you or someoneelse can understand what you did.
# It is also important when someone else will be reviewing your code or incase you will be working in a team.
# Or let's say you code an app for someone and sometime later because of some reason you are not the one maintaining the code. The comments are for that someone.
# Comments are initialized using "#" like these green text we have been writing.

In [ ]:
# 2. Python Indentation
# For example in a code like the one below
# Below if a > b: you can see an indentation before print
# Indentation can cause your code to not run or in other terms throw an error

a = 10
b = 20
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [ ]:
# 3. Python Variables
# Variables are containers for storing data values.
# A variable is created the moment you first assign a value to it.
# For example in the code above a is the variable while 10 is the value of variable a (Refer to code right above)

In [ ]:
# 3.1 Variable Names
# Rules for Python variables:
# 1. A variable name must start with a letter or the underscore character
# 2. A variable name cannot start with a number
# 3 A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Variable names are case-sensitive (age, Age and AGE are three different variables)
# A variable name cannot be any of the Python keywords. To checkout keywords, visit: (https://www.w3schools.com/python/python_ref_keywords.asp).

# Good Example
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Bad Example
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
# 3.2 Output Variables
# The Python print() function is often used to output variables.
# This is where your code is converted to something you can see on the screen
# For example I will enter a variable name z and use the print() function to display the the value of z on the screen.

z = 33
print(z)

33

In [ ]:
# 3.3 Multi Words Variable Names
# There are several techniques you can use to make them more readable;

# 1. Camel Case
# Each word, except the first, starts with a capital letter:
myFirstName = "Eric"

# 3. Pascal Case
# Each word starts with a capital letter:
MyFirstName = "Eric"

# 4. Snake Case
# Each word is separated by an underscore character:
my_first_name = "Eric"

In [ ]:
a = 5

print(type (a))

<class 'int'>

In [ ]:
# Day 6/100

# This is python basics continuation....
# Keep the energy. Sometimes it might be a busy and hectic day but our coding days have to be there. People used to go to war.

In [ ]:
# DATATYPES

# Today we tackle an animal known as Data Types.
# You see the way we have proteins, energy-giving foods & vitamens for food?

# ðŸ˜ƒAs in types of data. Namely:
# ðŸ‘‰str, int, float,  list, tuple, dict, set, bool etc.

# These are the datatypes we'll be using for now.

#Classified further into:
# 1. Numbers: int, float
# 2. Sequence: str, list, tuple,
# 3. Boolean: bool(true or false)
# 4. Set: set
# 5. Dictionary: dict

In [4]:
# 1. Integers (int)
# It contains positive or negative whole numbers (without fractions or decimals). No limit to its length

# Example: a = 5 here "a" is of the data type integer.

# You can see and write the code below to confirm the data type.

a = 5
print(type(a))

<class 'int'>

In [5]:
# 2. Float (float)
# - It is specified by a decimal point
# - e or E can be used to specify scientific notation
# You can test type float by replacing value in "a" variable in your code cell with a decimal value

# Example: b = 5.5

b = 5.5
print (type(b))

<class 'float'>

In [6]:
# 3. String (str)
# -  A string is a collection of one or more characters put in a single quote, double quote or triple quote.

# Example:  c = "Hakuna Matata"

c = "Hakuna Matata"
print(type(c))

<class 'str'>

In [7]:
# 4. List (list)
# - Are used to store multiple items in a single variable
# - Are created using square brackets
# - Write code below and run to print your list on screen
# -Lists are ordered, changeable and allow duplicate values
# -  The first item has Index zero - [0], the second item [1]

my_garage = ["Volvo", "BMW", "VW", "Audi"]

print(my_garage)

['Volvo', 'BMW', 'VW', 'Audi']

In [8]:
# Important Definitions
# Ordered - it means that the items have predefined order and the order will not change
# Changeable - we can add or remove items even after list has been created
# Allow duplicates - Since lists are indexed, they can have items with the same value

# For ExampleðŸ‘‡

# Testing duplicate values to check if "Allow duplicates" is true

my_garage = ["Volvo", "BMW", "VW", "Audi", "Volvo"]

print(my_garage)

['Volvo', 'BMW', 'VW', 'Audi', 'Volvo']

In [9]:
# List length - number of items in a list
# We use the len() function to determine number of items in a list

print(len(my_garage))

5

In [10]:
# List items can contain other datatypes
# They can have str, int, bool data types.
# Example:

# Assignment: Print each one of them (8 marks)

my_garage = ["Volvo", "BMW", "VW", "Audi"]
my_numbers = [1, 3, 5, 7, 9]
my_bool = [True, False, False]

print(my_garage)
print(my_numbers)
print(my_bool)

# A list with different datatypes

my_characters = [11, "BMW", True, 8.9]

print(my_characters)

['Volvo', 'BMW', 'VW', 'Audi']
[1, 3, 5, 7, 9]
[True, False, False]
[11, 'BMW', True, 8.9]